.card {
  position: relative;
}
.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__title {
  margin: 12px 0 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 8px;
  color: rgba(33, 33, 33, 1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 420px;
}
.card__like-btn {
  margin: 12px 0 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/hart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}
.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.5s;
}
.card__like-btn_liked {
  background-image: url(../images/redheart.svg);
  opacity: 1;
}
.card__like-btn_liked:hover {
  background-image: url(../images/lightRed.svg);
}
.card__delete-btn {
  margin: 12px 0 0;
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../images/deleteDefault.svg);
  width: 32px;
  height: 32px;
  top: 10px;
  left: 371px;
  transition: opacity 0.3s ease;
  border: none;
  background-color: transparent;
}

.card__delete-btn:hover {
  background-image: url(../images/deleteHover.svg);
  cursor: pointer;
}

.card__delete-btn:active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px; /* Adjust size to match the image */
  height: 50px;
  border: 2px solid black; /* Creates the black ring */
  border-radius: 50%; /* Ensures a perfect circle */
  transform: translate(-50%, -50%);
  background: transparent;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    max-width: 250px;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
  }
}
