.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__litle {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 8px;
  color: rgba(33, 33, 33, 1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 420px;
}
.card__like-btn {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/hart.png);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}
.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.5s;
}
@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
