.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 0.3s linear;
}
.modal__container {
  background: rgba(255, 255, 255, 1);
  padding: 32px 50px;
  max-width: 730px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}
.modal__container_type_preview {
  padding: 0;
  background: none;
  max-width: none;
  width: auto;
  border-radius: 4px;
  position: relative;
}
.modal__image {
  border-radius: 8px;

  width: 100%;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
}
.modal__caption {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  width: 135px;
  max-width: fit-content;
  height: auto;
  position: relative;
  top: auto;
  left: auto;
  margin-top: 8px;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 33, 33, 1);
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  border: none;
  opacity: 40%;
  background-color: transparent;

  transition: opacity 1s linear;
}
.modal__close-btn_type_preview {
  position: absolute;
  background-image: url(../images/CloseIcon.svg);
  color: rgba(33, 33, 33, 0.4);
  top: 0;
  right: -40px;
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
  transition: opacity 0.3 ease;
}
.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.5s;
}
.modal__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  color: rgba(33, 33, 33, 1);
  margin: 0 0 32px;
}
.modal__label {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: rgba(33, 33, 33, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}
.modal__input {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  margin: 8px 0 0;
}
.modal__input:hover {
  cursor: pointer;
  border-color: rgba(33, 33, 33, 1);
}
.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}
.modal__error {
  display: block;
  margin-top: 8px;
  color: rgba(255, 0, 0, 0.7);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
}
.modal__submit-btn {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  width: 156px;
  padding: 18px 0;
  color: rgba(252, 245, 229, 1);
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  border: none;
}
.modal__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.5s;
}
.modal__button_inactive {
  background-color: rgba(33, 33, 33, 0.3);
}
@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }
  .modal__image {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
  }
  .modal__container {
    padding: 12px;
  }
  .modal__close-btn_type_preview {
    width: 40px;
    height: 40px;
    top: -40px;
    right: 0;
    background-size: 40px 40px;
  }
  .modal__image {
    width: 100%;
    max-width: 100%;
  }
  .modal__container_type_preview {
    width: 100%;
    max-width: 282px;
    margin: 0;
    padding: 0;
  }
  .modal__title {
    font-size: 20px;
    margin-bottom: 24px;
    margin: 10px 0 34px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  .modal__submit-btn {
    width: 100%;
  }
}
