.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
}
.profile__column {
  display: flex;
  flex-direction: column;
}
.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 420px;
}
.profile__description {
  font-family: poppins, Arial, Helvetica, sans-serif;
  color: rgba(33, 33, 33, 0.7);
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 420px;
}
.profile__edit-btn {
  margin-top: auto;
  color: rgba(33, 33, 33, 0.8);
  margin-top: auto;
  background: rgba(252, 245, 229, 1);
  border: none;
  display: flex;
  gap: 8px;
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.profile__edit-btn:hover {
  color: rgba(33, 33, 33, 1);
  cursor: pointer;
  transition: color 0.5s;
}
.profile__add-btn {
  font-family: poppins, Arial, Helvetica, sans-serif;
  background: black;
  color: rgba(252, 245, 229, 1);
  margin-left: auto;
  position: relative;
  top: 140px;
  margin-left: auto;
  border-radius: 8px;
  width: 149px;
  height: 52px;
  padding: 18px 32px;
  gap: 8px;
  display: flex;
  border: none;
}
.profile__add-btn:hover {
  background: rgba(33, 33, 33, 0.8);
  cursor: pointer;
  transition: background-color 0.5s;
}
@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }
  .profile__avatar {
    margin-right: 0;
    margin-bottom: 12px;
    height: 80px;
    width: 80px;
  }
  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }
  .profile__column {
    margin: 0 0 20px;
  }
  .profile__description {
    margin: 0 0 32px;
    font-size: 16px;
    max-width: 288px;
  }
  .profile__add-btn {
    margin-left: 0;
    max-width: 288px;
    width: 100%;
  }
}
